@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}

body{
    font-family: "Raleway", sans-serif;
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-image: url(./fylo-data-storage-component-master/images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.con{
    display: flex;
    flex-direction: column;
    gap: 17px;

}
.s1{
    background-color: var(--Dark-Blue);
    width: 332px;
    height: 202px;
    border-radius:10px 100px 10px 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.s1-2{
    display: flex;
    gap: 20px;
}
button{
    background-color: var(--Very-Dark-Blue);
    padding: 14px;
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 50px;
}
.logo{
    width: 138px;
}
.s2{
    display: flex;
    flex-direction: column;
    position: relative;
}
.s2-2{
    background-color: var(--Dark-Blue);
    width: 328px;
    height: 178px;
    padding: 33px;
    color: var(--Pale-Blue);
    order: 1;
    border-radius:10px;
}
.s2-2 span{
    color: var(--Pale-Blue);
    font-weight: 700;
}
.s2-2 .p1{
    text-align: center;
    font-weight: 300;
    font-size: 14px;

}

.s2-1{
    background-color: white;
    width: 180px;
    height: 73px;
    color: black;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    order: 2;
    top: 139px;
    left: 23%;
}
.s2-1 p{
    color: var(--Grayish-Blue);
    font-weight: 600;   
    font-size: 12px;
    margin-top: 5px;
}
.progress{
    background-color: var(--Very-Dark-Blue);
    width: 260px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-top:20px;
    overflow: hidden;
    
}
.progress-bar{
    background:linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    width: 80%;
    height: 100%;
    border: solid 1px var(--Very-Dark-Blue);
    border-radius: 10px;
    position: relative;
    
}
.circle{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    margin: 1px;
}
.gb{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
    margin-top: 13px;
    padding-bottom: 70px;
}
.text{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px){
    body{
        background-color: var(--Very-Dark-Blue);
        background-image: url(./images/bg-desktop.png);
        background-repeat: no-repeat;
        background-size: 100%  320px;
        background-position: bottom;

    }
    .con{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
  .s2-2{
    order: 1;
    width: 541px;
  }
  .s2-1{
    order: 2;
    top: -36px;
    bottom: 140px;
    left: 60%;
    width: 180px;
  }
  .s2-1::before{
    border-left: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 22px solid white;
    border-top: 22px solid white;
    position: absolute;
    content: "";
    top: 50px;
    right: 0;

  }
  .s2-2 .p1{
    text-align: left;
  }
  .progress{
    width: 100%;

  }
    .gb{
        margin-top: 7px;
        margin-bottom: 40px;
    }
}
